<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CRMmini</title>
    <!-- <link rel="icon" href="/static/img/favicon.ico" /> -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <!-- Bootstrap -->
    <link href="/static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-callout.css" rel="stylesheet">
    <link href="/static/css/crm-mini-editor.css" rel="stylesheet">
</head>

{% block body %}
{% endblock %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/components/angular/angular.min.js"></script>
<script src="/static/components/static-ace/ace.js"></script>
<script src="/static/components/notify.js"></script>

<script src="/static/js/config_editor.js"></script>
</html>
